body, html{
    height: 100%;
    margin: 10px;
}

body{
    font-size: 13px;
    line-height: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: #0066c0;
}

#logo img{
    height: 31px;
    width: 103px;
}

#logo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1{
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
}

p{
    margin-bottom: 5px;
}

input{
    width:97%;
}

.lefty{
    float:left;
}

.righty{
    float:right;
}

button{
    color:#111;
    border-style: solid;
    border-width:1px;
    vertical-align: middle;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top:24px;
    width:100%;
    border-radius: 3px;
    height: 10;
}
.continue{
    background-color: #f0c14b;
    border-color:#a88734 #9c7e31 #846a29;
}
.create{
    background-color:#e7e9ec;
    border-color:#adb1b8 #a2a6ac #8d9096;
}

#login{
    width:20%;
    height:55%;

    padding-left: 40%;
    padding-right: 40%;
}

.login-box{
    padding: 10px;
    margin-bottom: 10px;
    background-image: grey;

    border: 1px #ddd solid;
    box-sizing: border-box;
    display: block;
   
}

.banner{
    color:#767676;
    font-size:16px;
    text-align: center;
    margin: 10px 0 20px;
    border-bottom:1px solid #767676;
    line-height:0.1em;
    margin-top: 50px;

}

.banner span{
    background-color: #fff;
    padding:0 10px;
}

footer{
    bottom:0px;
    width:100%;
    height:20vh;
    margin: top 0px;
}

footer{
    text-align: center;
}

div li{
    display: inline;
    margin: 15px;
}

div ul{
    margin:0px;
    list-style-type: none;
    width:100%;
    padding: 25px;
}